body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 70px;
  background-color: #f8f9fc;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.bg-custom {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #4e555c;
  color: #ffffff;
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

footer a {
  color: #f8f9fa;
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #dc3545;
}

footer i {
  margin-right: 6px;
}

footer p {
  margin: 0;
  font-size: 16px;
}

footer .social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer .social-links a {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }

  footer p {
    font-size: 12px;
  }

  footer a {
    font-size: 14px;
  }

  footer .social-links {
    flex-direction: column;
    gap: 8px;
  }
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  height: 40px;
}

.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.nav-link:hover {
  color: #dc3545;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.navbar-brand span {
  color: red;
}

.navbar-brand {
  color: rgb(124, 121, 121);
  text-decoration: none;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar {
  width: 250px;
  height: 800vh;
  background-color: #646b71;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.sidebar-header {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  width: 100%;
}

.sidebar-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar-menu .sidebar-section {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  opacity: 0.7;
}

.sidebar-menu li:hover {
  background-color: #dc3545;
}

.content {
  margin-left: 250px;
  padding: 10px;
  flex-grow: 1;
  background-color: #f8f9fc;
  overflow: auto;
}
